<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Talana Attendance Tracker</a>
        <button class="navbar-toggler" type="button" (click)="toggle()" aria-controls="navbarNav" aria-expanded="isCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                <ng-container *ngIf="authService.currentuserSignal() == null">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="authService.currentuserSignal()">
                    <li class="nav-item">
                        <a class="nav-link" (click)="logOut()">Logout</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>