 
    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  Employee Dashboard
              </div>
              <div class="card-body">
                <h4>Hi, {{authService.currentuserSignal().displayName}}</h4>
                  <button class="btn btn-primary mb-3" (click)="signIn()" *ngIf="sign==false">Mark Attendance</button>
                  <button class="btn btn-primary mb-3" (click)="signOut()" *ngIf="sign == true && sigOut == false">Sign Out</button>
                  <p *ngIf="sign==true && sigOut==false">You signed in at: <span *ngIf="fetchedData as data">{{data.timestamp | date:'short'}}</span></p>
                  <p *ngIf="sign==true && sigOut==true">{{msg}} {{fetchedData.timeout | date:'short'}}</p>

                <h4 *ngIf="sign">You are <span *ngIf="sign && lateR">late</span> <span *ngIf="!lateR && sign">early</span> today!</h4>

                  <!-- <h5>Attendance History</h5>
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Check-in Time</th>
                              <th scope="col">Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let signIn of signInList">
                              <td>{{signIn.timestamp |date}}</td>
                              <td>09:00 AM</td>
                              <td>Present</td>
                          </tr>
                      </tbody>
                  </table> -->
              </div>
          </div>
      </div>
  </div>



